#Wordbank {
  width: 50%;
  height: 30vh;
  margin: 5vh;
}

.mainText {
  font-size: 3rem;
  margin: 0.2rem;
}

.translationOptions {
  display: flex;
}

.translationOptions p {
  margin: 0;
  font-size: 1rem !important;
}

.progress {
  margin: 0;
}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  flex-wrap: wrap;
}

.word {
  margin: 0.5rem;
  width: 45%;
  justify-content: space-evenly;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
}




