#Wordbank {
  width: 50%;
  height: 40vh;
  margin: 5vh;
}

.mainText {
  font-size: 3rem;
  margin: 0.2rem;
}

.secondaryText {

}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  flex-wrap: wrap;
}

.word {
  margin: 0.5rem;
  width: 45%;
  justify-content: space-evenly;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: aliceblue;
  cursor: pointer;
}

.button:hover {
  background-color: blanchedalmond;
}

